img {
    width: 400px;
}
body {
    font-size: 25px;
    text-align: center;
    font-family: 'Chicle';
    background: rgb(209, 236, 231);
    color: rgba(7, 1, 44, 0.771);
    a{
        color:rgb(30, 155, 57)
    }
    p{overflow-wrap: break-word;}
}

